<div class="container-fluid">
  <app-page-title title="Mapping Log" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="col-12 card-box">
        <fieldset class="{{!isCollapsed ? 'pb-0' : ''}}">
          <legend>
            <a href="javascript: void(0);" (click)="isCollapsed = !isCollapsed">Search Information
              <i class="{{isCollapsed ? 'fe-minus' : 'fe-plus'}} ml-1" aria-hidden="true"></i>
            </a>
          </legend>
          <div *ngIf="isCollapsed">
            <div class="row mb-2">
              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-1" id="selectTypeLog">
                <label for="" class="font-weight-bolder">Mapping Type</label>
                <ng-select>
                  <ng-option>All</ng-option>
                  <ng-option>Work</ng-option>
                  <ng-option>Excel</ng-option>
                </ng-select>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-1">
                <label for="" class="font-weight-bolder">Status</label>
                <ng-select>
                  <ng-option>All</ng-option>
                  <ng-option>Uploaded</ng-option>
                  <ng-option>Imported</ng-option>
                  <ng-option>Import falsed</ng-option>
                </ng-select>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-1">
                <label for="" class="font-weight-bolder">Transaction Date</label>
                <div class="input-group clockpicker">
                  <input ngbDatepicker class="form-control" autoClose="false" placeholder="yyyy-mm-dd"
                    #date="ngbDatepicker">
                  <div class="input-group-append" (click)="date.toggle()">
                    <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-1">
                <label for="" class="font-weight-bolder">Keyword</label>
                <input type="text" class="form-control" placeholder="Search...">
            </div>
          </div>
          <div class="row">
              <div class="col-7 text-left">
                <button type="button" class="btn btn-primary mr-1 mt-1">
                  <i class="fas fa-cogs mr-1"></i>Mapping
                </button>
                <button type="button" class="btn btn-primary mr-1 mt-1">
                  <i class="fas fa-file mr-1"></i>View Log
                </button>
                <!-- <button type="button" class="btn btn-primary mt-1 mr-1">
                  View log
                </button> -->
              </div>
              <div class="col-5 text-right">
                  <!-- <button *ngIf="isCheckedAll && totalSize > 0 && totalSize > pageSize" type="button"
                      class="btn btn-danger mr-1" (click)="deleteAllLogLimit()">
                      <i class="far fa-trash-alt"></i> {{'deal_management_label.xoa_tat_ca' | translate}} {{"(" +
                      totalSize + ")"}}
                  </button>
                  <button *ngIf="totalChecked > 0" type="button" class="btn btn-danger mr-1" (click)="deleteLogList()">
                      <i class="far fa-trash-alt"></i> {{'deal_management_label.xoa' | translate}} {{totalSize ? "(" +
                      totalChecked + ")" : ''}}
                  </button> -->
  
                  <button type="button" class="btn btn-primary mr-1 mt-1">
                      <i class="fas fa-undo-alt mr-1"></i>Refresh
                  </button>
                  <button type="button" class="btn btn-primary mt-1 mr-1"><i
                          class="fas fa-search mr-1"></i>Search
                  </button>
              </div>
          </div>
          </div>
        </fieldset>
        <div class="col-12 border-bottom-dotted pb-0 p-0 mb-2 mt-3">
          <span class="font-weight-medium theme-color">Mapping list</span>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-sm table-hover m-w-tabble">
                <thead>
                    <tr class="m-header-table">
                        <th class="text-center align-middle">
                            <div class="custom-control custom-checkbox  text-center align-middle">
                                <input type="checkbox" class="custom-control-input m-cursor" id="checkAll">
                                <label class="custom-control-label m-cursor" for="checkAll"></label>
                            </div>
                        </th>
                        <th class="text-center align-middle">Mapping name</th>
                        <th class="text-center align-middle m-min-w-5-5">Mapping date</th>
                        <th class="text-center align-middle m-min-w-5-5">Status</th>
                        <th class="text-center align-middle">Massage</th>
                        <th class="text-center align-middle m-min-w-5-5">Duration</th>
                        <th class="text-center align-middle m-min-w-2-5">Execution user</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                      <td class="text-center align-middle" colspan="8">No data</td>
                    </tr> -->
                    <tr>
                        <td class="text-center">
                            <div class="custom-control custom-checkbox align-middle">
                                <input type="checkbox" class="custom-control-input">
                                <label class="custom-control-label m-cursor"></label>
                            </div>
                        </td>
                        <td class="align-middle">TURNING DATA</td>
                        <td class="align-middle">15/01/2022</td>
                        <td class="align-middle">Completed</td>
                        <td class="align-middle">Sucess full</td>
                        <td class="align-middle text-center">11ms</td>
                        <td class="text-center text-danger align-middle"></td>
                    </tr>
                    <tr>
                      <td class="text-center">
                          <div class="custom-control custom-checkbox align-middle">
                              <input type="checkbox" class="custom-control-input">
                              <label class="custom-control-label m-cursor"></label>
                          </div>
                      </td>
                      <td class="align-middle">TURNING DATA</td>
                      <td class="align-middle">15/01/2022</td>
                      <td class="align-middle">Completed</td>
                      <td class="align-middle">Sucess full</td>
                      <td class="align-middle text-center">11ms</td>
                      <td class="text-center text-danger align-middle"></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                        <div class="custom-control custom-checkbox align-middle">
                            <input type="checkbox" class="custom-control-input">
                            <label class="custom-control-label m-cursor"></label>
                        </div>
                    </td>
                    <td class="align-middle">TURNING DATA</td>
                    <td class="align-middle">15/01/2022</td>
                    <td class="align-middle">Completed</td>
                    <td class="align-middle">Sucess full</td>
                    <td class="align-middle text-center">11ms</td>
                    <td class="text-center text-danger align-middle"></td>
                </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>