<div class="container-fluid">
  <app-page-title title="Parameter Config" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12 card-box">
      <div class="p-2">
        <div class="form-group row">
          <label class="col-4 col-sm-4 col-form-label font-weight-bolder" for="OSB_CORE">Tham số 1</label>
          <div class="col-6 col-sm-7">
            <input type="text" id="OSB_CORE" class="form-control">
          </div>
          <div class="col-2 col-sm-1 text-right">
            <button type="button" class="btn btn-info">
              Sửa
            </button>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-sm-4 col-form-label font-weight-bolder" for="id2">
            Tham số 2
          </label>
          <div class="col-6 col-sm-7">
            <input type="text" id="id2" class="form-control">
          </div>
          <div class="col-2 col-sm-1 text-right">
            <button type="button" class="btn btn-info">Sửa</button>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-sm-4 col-form-label font-weight-bolder" for="id3">
            Tham số 3
          </label>
          <div class="col-6 col-sm-7">
            <input type="text" id="id3" class="form-control">
          </div>
          <div class="col-2 col-sm-1 text-right">
            <button type="button" class="btn btn-info">Sửa</button>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-sm-4 col-form-label font-weight-bolder" for="id4">
            Tham số 4
          </label>
          <div class="col-6 col-sm-7">
            <input type="text" id="id4" class="form-control">
          </div>
          <div class="col-2 col-sm-1 text-right">
            <button type="button" class="btn btn-info">Sửa</button>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-sm-4 col-form-label font-weight-bolder" for="id5">
            Tham số 5
          </label>
          <div class="col-6 col-sm-7">
            <input type="text" id="id5" class="form-control">
          </div>
          <div class="col-2 col-sm-1 text-right">
            <button type="button" class="btn btn-info">Sửa</button>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-sm-4 col-form-label font-weight-bolder" for="id6">
            Tham số 6
          </label>
          <div class="col-6 col-sm-7">
            <input type="text" id="id6" class="form-control">
          </div>
          <div class="col-2 col-sm-1 text-right">
            <button type="button" class="btn btn-info">Sửa</button>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-sm-4 col-form-label font-weight-bolder" for="id7">
            Tham số 7
          </label>
          <div class="col-6 col-sm-7">
            <input type="text" id="id7" class="form-control">
          </div>
          <div class="col-2 col-sm-1 text-right">
            <button type="button" class="btn btn-info">Sửa</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>