<div class="container-fluid">
    <app-page-title [breadcrumbItems]="breadCrumbItems" title="Unit Management"></app-page-title>

    <div class="row">
        <div class="col-12 card-box">
            <fieldset class="{{!isCollapsed ? 'pb-0' : ''}}">
                <legend>
                    <a (click)="isCollapsed = !isCollapsed" href="javascript: void(0);">Search Information
                        <i aria-hidden="true" class="{{isCollapsed ? 'fe-minus' : 'fe-plus'}} ml-1"></i>
                    </a>
                </legend>
                <form (ngSubmit)="search()" *ngIf="isCollapsed" [formGroup]="searchUnitForm">
                    <div class="row mb-2">
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-1">
                            <label class="col-form-label form-control-label font-weight-bolder">
                                Unit code
                            </label>
                            <div class="mt-1">
                                <input class="form-control" formControlName="code" placeholder="Search..." type="text">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-1">
                            <label class="col-form-label form-control-label font-weight-bolder">
                                Unit name
                            </label>
                            <div class="mt-1">
                                <input class="form-control" formControlName="name" placeholder="Search..." type="text">
                            </div>
                        </div>

                        
                    </div>
                    <div class="row">
                        <div class="col-7 text-left">
                            <span class="btn btn-primary btn-file m-cursor mr-1 mt-1">
                                <input #unitFileImport (change)="onFileSelect($event)" [accept]="fileType.EXCEL" [multiple]="false"
                                  type="file" />
                                <i class="fas fa-cloud-upload-alt mr-1"></i>
                                <i class="fas fa-file-excel"></i>
                                Import
                            </span>
                            <button (click)="DowloadListUnit('xlsx')" class="btn btn-primary mr-1 mt-1" type="button">
                                <i class="fas fa-cloud-download-alt mr-1"></i>
                                Export
                            </button>
                            <button (click)="openCreateModal(null)" class="btn btn-primary mt-1 mr-1" type="button">
                                <i class="fas fa-plus mr-1"></i>Create
                            </button>
                        </div>
                        <div class="col-5 text-right">
                            <button (click)="initFormSearch()" class="btn btn-secondary mr-1 mt-1" type="button">
                                <i class="fas fa-undo-alt mr-1"></i>Refresh
                              </button>
                            <button (click)="search()" class="btn btn-primary mt-1" type="submit">
                                <i class="fas fa-search mr-1"></i>Search
                            </button>
                        </div>
                    </div>
                </form>

            </fieldset>
            <div class="col-12 border-bottom-dotted pb-0 p-0 mb-2 mt-3">
                <span class="font-weight-medium theme-color">Unit list</span>
            </div>
            <div class="table-responsive">
                <!-- <app-ui-preloader [display]="loading"></app-ui-preloader> -->
                <!-- <h4 class="header-title mb-3">File list</h4> -->
                <table class="table table-bordered table-sm table-hover m-w-tabble">
                    <thead>
                        <tr class="m-header-table">
                            <th class="text-center align-middle">
                                <div class="custom-control custom-checkbox  text-center align-middle">
                                    <input class="custom-control-input m-cursor" id="checkAll" type="checkbox">
                                    <label class="custom-control-label m-cursor" for="checkAll"></label>
                                </div>
                            </th>
                            <th class="text-center align-middle">Unit code</th>
                            <th class="text-center align-middle">Name</th>
                            <th class="text-center align-middle">English Name</th>
                            <th class="text-center align-middle">Creater</th>
                            <th class="text-center align-middle">Create date</th>
                            <th class="text-center align-middle">Status</th>
                            <th class="text-center align-middle">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!unitList || unitList.length <= 0">
                            <td class="text-center align-middle" colspan="7">No data</td>
                        </tr>
                        <tr *ngFor="let item of unitList; let i = index">
                            <td class="text-center">
                                <div class="custom-control custom-checkbox align-middle">
                                    <input class="custom-control-input" type="checkbox">
                                    <label class="custom-control-label m-cursor"></label>
                                </div>
                            </td>
                            <td class="align-middle">{{item?.code}}</td>
                            <td class="align-middle">{{item?.name}}</td>
                            <td class="align-middle">{{item?.nameEn}}</td>
                            <td class="align-middle">{{item?.creater}}</td>
                            <td class="align-middle text-center">{{item?.createdDate | date: 'dd/MM/yyyy'}}</td>
                            <td class="align-middle text-center">{{item?.status ? 'Hoạt động' : 'Không hoạt động'}}</td>
                            <td class="align-middle text-center">
                                <span (click)="openCreateModal(item)" class="text-info m-cursor">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                                <span (click)="deletedUnit(item)" class="text-danger  m-cursor ml-1">
                                    <i class="far fa-trash-alt"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>