<div class="container-fluid">
	<app-page-title title="Procedure Management"></app-page-title>
	<div class="row">
	  <div class="col-12 card-box">
		<fieldset class="{{!isCollapsed ? 'pb-0' : ''}}">
			<legend>
			  <a href="javascript: void(0);" (click)="isCollapsed = !isCollapsed">Search Information
				<i class="{{isCollapsed ? 'fe-minus' : 'fe-plus'}} ml-1" aria-hidden="true"></i>
			  </a>
			</legend>
			<div *ngIf="isCollapsed">
			  <div class="row mb-2">
				<div class="col-sm-12 mt-1">
				  <label class="col-form-label form-control-label font-weight-bolder">
					Keyword
				  </label>
				  <div class="mt-1" id="selectTypeLog">
					<input type="text" class="form-control" placeholder="Search...">
				  </div>
				</div>
			  </div>
			  <div class="row">
				<div class="col-12 text-right">
				  <button type="button" class="btn btn-primary mt-1">
					<i class="fas fa-search mr-1"></i>Search
				  </button>
				</div>
			  </div>
			</div>
		  </fieldset>
		  <div class="col-12 border-bottom-dotted pb-0 p-0 mb-2 mt-3">
			<span class="font-weight-medium theme-color">Procedure Management list</span>
		  </div>
		  <div class="table-responsive">
			<table class="table table-bordered table-sm table-hover m-w-tabble">
			  <thead>
				<tr class="m-header-table">
				  <th class="text-center align-middle">
					<div class="custom-control custom-checkbox  text-center align-middle">
					  <input type="checkbox" class="custom-control-input m-cursor" id="checkAll">
					  <label class="custom-control-label m-cursor" for="checkAll"></label>
					</div>
				  </th>
				  <th class="text-center align-middle">Action</th>
				  <th class="text-center align-middle">File name</th>
				  <th class="text-center align-middle">Type</th>
				  <th class="text-center align-middle">Checksum</th>
				  <th class="text-center align-middle">Last Modified</th>
				</tr>
			  </thead>
			  <tbody>
				<tr *ngIf="!proceduremanagementList || proceduremanagementList.length <= 0">
				  <td class="text-center align-middle" colspan="5">No data</td>
				</tr>
				<tr *ngFor="let item of proceduremanagementList; let i = index">
				  <td class="text-center">
					<div class="custom-control custom-checkbox align-middle">
					  <input type="checkbox" class="custom-control-input">
					  <label class="custom-control-label m-cursor"></label>
					</div>
				  </td>
				  <td class="align-middle">{{item?.fileName}}</td>
				  <td class="align-middle">{{item?.creator}}</td>
				  <td class="align-middle">{{item?.createdDate | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
				  <td class="align-middle">{{item?.modifiedDate | date: 'dd/MM/yyyy'}}</td>
				  <!-- <td class="align-middle text-center">{{item?.createdDate | date: 'dd/MM/yyyy'}}</td> -->
				  <td class="align-middle text-center">
					<span class="text-info m-cursor">
					  <i class="fas fa-pencil-alt"></i>
					</span>
					<span class="text-danger  m-cursor ml-1">
					  <i class="far fa-trash-alt"></i>
					</span>
				  </td>
				</tr>
			  </tbody>
			</table>
		  </div>
		</div>
	</div>