<div class="container-fluid">
	<app-page-title title="Define Task Scheduler" [breadcrumbItems]="breadCrumbItems"></app-page-title>
	<div class="row">
	  <div class="col-12">
		<div class="col-12 card-box">
		  <fieldset class="{{!isCollapsed ? 'pb-0' : ''}}">
			<legend>
			  <a href="javascript: void(0);" (click)="isCollapsed = !isCollapsed">Search Information
				<i class="{{isCollapsed ? 'fe-minus' : 'fe-plus'}} ml-1" aria-hidden="true"></i>
			  </a>
			</legend>
			<div *ngIf="isCollapsed">
			  <div class="row mb-2">
				<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-1" id="selectTypeLog">
				  <label for="" class="font-weight-bolder">Type</label>
				  <ng-select>
					<ng-option>All</ng-option>
					<ng-option>Default</ng-option>
				  </ng-select> 
				</div>
				<div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 mt-1">
				  <label for="" class="font-weight-bolder">Keyword</label>
				  <input type="text" class="form-control" placeholder="Search...">
			  </div>
			</div>
			<div class="row">
				<div class="col-7 text-left">
				  <button type="button" class="btn btn-primary mr-1 mt-1">
					<i class="fas fa-upload mr-1"></i>New Task
				  </button>
				</div>
				<div class="col-5 text-right">
					<button type="button" class="btn btn-primary mr-1 mt-1">
						<i class="fas fa-undo-alt mr-1"></i>Trigger now
					</button>
					<button type="button" class="btn btn-primary mt-1 mr-1"><i
							class="fas fa-search mr-1"></i>Search
					</button>
				</div>
			</div>
			</div>
		  </fieldset>
		  <div class="col-12 border-bottom-dotted pb-0 p-0 mb-2 mt-3">
			<span class="font-weight-medium theme-color">File list</span>
		  </div>
		  <div class="table-responsive">
			  <table class="table table-bordered table-sm table-hover m-w-tabble">
				  <thead>
					  <tr class="m-header-table">
						  <th class="text-center align-middle">Id</th>
						  <th class="text-center align-middle m-min-w-5-5">Queue</th>
						  <th class="text-center align-middle m-min-w-5-5">Task Name</th>
						  <th class="text-center align-middle">Scheduled time</th>
						  <th class="text-center align-middle m-min-w-5-5">Is enabled</th>
						  <th class="text-center align-middle">Skip holiday</th>
						  <th class="text-center align-middle">Custom transaction date</th>
					  </tr>
				  </thead>
				  <tbody>
					  <tr>
						  <td class="text-center">
							  <div class="custom-control custom-checkbox align-middle">
								  <input type="checkbox" class="custom-control-input">
								  <label class="custom-control-label m-cursor"></label>
							  </div>
						  </td>
						  <td class="align-middle">VNMQVBILL</td>
						  <td class="align-middle">excel</td>
						  <td class="align-middle">15/01/2022</td>
						  <td class="align-middle">Uploaded</td>
						  <td class="align-middle">Uploaded</td>
						  <td class="align-middle">Uploaded</td>
					  </tr>
					  <tr>
						<td class="text-center">
							<div class="custom-control custom-checkbox align-middle">
								<input type="checkbox" class="custom-control-input">
								<label class="custom-control-label m-cursor"></label>
							</div>
						</td>
						<td class="align-middle">VNMQVBILL</td>
						<td class="align-middle">excel</td>
						<td class="align-middle">15/01/2022</td>
						<td class="align-middle">Uploaded</td>
						<td class="align-middle">Uploaded</td>
						<td class="align-middle">Uploaded</td>
					</tr>
					<tr>
					  <td class="text-center">
						  <div class="custom-control custom-checkbox align-middle">
							  <input type="checkbox" class="custom-control-input">
							  <label class="custom-control-label m-cursor"></label>
						  </div>
					  </td>
					  <td class="align-middle">VNMQVBILL</td>
					  <td class="align-middle">excel</td>
					  <td class="align-middle">15/01/2022</td>
					  <td class="align-middle">Uploaded</td>
					  <td class="align-middle">Uploaded</td>
					  <td class="align-middle">Uploaded</td>
				  </tr>
				  </tbody>
			  </table>
		  </div>
		</div>
	  </div>
	</div>
  </div>