<div class="container-fluid">
  <app-page-title title="Report Create" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="col-12 card-box">
        <fieldset class="{{!isCollapsed ? 'pb-0' : ''}}">
          <legend>
            <a href="javascript: void(0);" (click)="isCollapsed = !isCollapsed">Search Information
              <i class="{{isCollapsed ? 'fe-minus' : 'fe-plus'}} ml-1" aria-hidden="true"></i>
            </a>
          </legend>
          <div *ngIf="isCollapsed">
            <div class="row mb-2">
              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-1">
                <label for="" class="font-weight-bolder">Report Date</label>
                <div class="input-group clockpicker">
                  <input ngbDatepicker class="form-control" autoClose="false" placeholder="yyyy-mm-dd"
                    #date="ngbDatepicker">
                  <div class="input-group-append" (click)="date.toggle()">
                    <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-1" id="selectTypeLog">
                <label for="" class="font-weight-bolder">Term</label>
                <ng-select>
                  <ng-option>All</ng-option>
                  <ng-option>Uploaded</ng-option>
                  <ng-option>Imported</ng-option>
                  <ng-option>Import falsed</ng-option>
                </ng-select>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-1">
                <label for="" class="font-weight-bolder">Status</label>
                <ng-select>
                  <ng-option>All</ng-option>
                  <ng-option>Work</ng-option>
                  <ng-option>Excel</ng-option>
                </ng-select>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-1">
                <label for="" class="font-weight-bolder">From Date</label>
                <div class="input-group clockpicker">
                  <input ngbDatepicker class="form-control" autoClose="false" placeholder="yyyy-mm-dd"
                    #date="ngbDatepicker">
                  <div class="input-group-append" (click)="date.toggle()">
                    <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-1">
                <label for="" class="font-weight-bolder">To Date</label>
                <div class="input-group clockpicker">
                  <input ngbDatepicker class="form-control" autoClose="false" placeholder="yyyy-mm-dd"
                    #date="ngbDatepicker">
                  <div class="input-group-append" (click)="date.toggle()">
                    <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-1">
                <label for="" class="font-weight-bolder">Customer ID</label>
                <ng-select>
                  <ng-option>Word</ng-option>
                  <ng-option>Excel</ng-option>
                </ng-select>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-1">
                <label for="" class="font-weight-bolder">Customer Name</label>
                <ng-select>
                  <ng-option>Word</ng-option>
                  <ng-option>Excel</ng-option>
                </ng-select>
              </div>
          </div>
          <div class="row">
              <div class="col-7 text-left">
                <button type="button" class="btn btn-primary mr-1 mt-1">
                  <i class="far fa-envelope mr-1"></i>Send Mail
                </button>
                <button type="button" class="btn btn-primary mr-1 mt-1">
                  <i class="fas fa-download mr-1"></i>Download
                </button>
                <button type="button" class="btn btn-primary mt-1 mr-1">
                  <i class="fas fa-check mr-1"></i>Submit
                </button>
                <button type="button" class="btn btn-primary mt-1 mr-1">
                  <i class="fas fa-plus mr-1"></i>Create
                </button>
              </div>
              <div class="col-5 text-right">
                <button type="button" class="btn btn-primary mr-1 mt-1">
                    <i class="fas fa-undo-alt mr-1"></i>Refresh
                </button>
                <button type="button" class="btn btn-primary mt-1 mr-1"><i
                        class="fas fa-search mr-1"></i>Search
                </button>
              </div>
          </div>
          </div>
        </fieldset>
        <div class="col-12 border-bottom-dotted pb-0 p-0 mb-2 mt-3">
          <span class="font-weight-medium theme-color">Statement list</span>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-sm table-hover m-w-tabble">
                <thead>
                    <tr class="m-header-table">
                        <th class="text-center align-middle">
                            <div class="custom-control custom-checkbox  text-center align-middle">
                                <input type="checkbox" class="custom-control-input m-cursor" id="checkAll">
                                <label class="custom-control-label m-cursor" for="checkAll"></label>
                            </div>
                        </th>
                        <th class="text-center align-middle">Code</th>
                        <th class="text-center align-middle m-min-w-5-5">Report name</th>
                        <th class="text-center align-middle m-min-w-5-5">Date</th>
                        <th class="text-center align-middle">Status</th>
                        <th class="text-center align-middle m-min-w-5-5">Creator</th>
                        <th class="text-center align-middle m-min-w-2-5">Execution user</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                      <td class="text-center align-middle" colspan="8">No data</td>
                    </tr> -->
                    <tr>
                        <td class="text-center">
                            <div class="custom-control custom-checkbox align-middle">
                                <input type="checkbox" class="custom-control-input">
                                <label class="custom-control-label m-cursor"></label>
                            </div>
                        </td>
                        <td class="align-middle">0001</td>
                        <td class="align-middle">Statement 0001</td>
                        <td class="align-middle">15/01/2022</td>
                        <td class="align-middle">Created</td>
                        <td class="align-middle text-center">System</td>
                        <td class="text-center text-danger align-middle"></td>
                    </tr>
                    <tr>
                      <td class="text-center">
                          <div class="custom-control custom-checkbox align-middle">
                              <input type="checkbox" class="custom-control-input">
                              <label class="custom-control-label m-cursor"></label>
                          </div>
                      </td>
                      <td class="align-middle">0002</td>
                      <td class="align-middle">Statement 0002</td>
                      <td class="align-middle">15/01/2022</td>
                      <td class="align-middle">Created</td>
                      <td class="align-middle text-center">Admin</td>
                      <td class="text-center text-danger align-middle"></td>
                  </tr>
                  <tr>
                    <td class="text-center">
                        <div class="custom-control custom-checkbox align-middle">
                            <input type="checkbox" class="custom-control-input">
                            <label class="custom-control-label m-cursor"></label>
                        </div>
                    </td>
                    <td class="align-middle">0003</td>
                    <td class="align-middle">Statement 0003</td>
                    <td class="align-middle">15/01/2022</td>
                    <td class="align-middle">Created</td>
                    <td class="align-middle text-center">System</td>
                    <td class="text-center text-danger align-middle"></td>
                </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>